.font-primary {
    font-size: 35px;
    color: #DCD6F7;
}

.font-light-purple{
    color: #dcd6f7;
}

.recipe-card-border{
    border: 3px solid #6C2BD9;
    background: #1f2937;
}

.recipe-card-btn{
    text-align: center;
}


.color-purple{
    background: #6C2BD9;
}

h3 {
    color: #fff;
}

p {
    font-size: 16px;
    margin-top: 10px;
    color: #fff; 
}

.view-recipe-link {
    color: #6EA8FE;
}

.center-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

.center-button-container button {
    width: 90%;
}

.recipe-list .mb-4 {
    margin-bottom: 1rem;
}

.recipe-list {
    width: 90%; 
    margin: 0 auto;
}

@media (min-width: 640px) {
    .recipe-list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .recipe-list {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .recipe-list {
        grid-template-columns: repeat(4, minmax(0, 1fr)); 
    }
}